/*--------------------------------------------------------------------
# Polices et Couleurs
--------------------------------------------------------------------*/
/* Polices */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap");
:root {
  /* H2 */
  --policeH2: "Syne", sans-serif;
  --policeH2TaillePC: 64px;
  --policeH2TailleTablette: 48px;
  --policeH2TailleMobile: 32px;
  --policeH2Weight: 720;
  /* H3 */
  --policeH3: "Syne", sans-serif;
  --policeH3Taille: 24px;
  --policeH3Weight: 700;
  /* P */
  --policeP: "Lexend", sans-serif;
  --policePTailleMobile: 16px;
  --policePTaille: 24px;
  --policePWeight: 500;
}

/* Couleurs globales */
:root {
  --couleurPrincipale: #e63c23;
  --couleurSecondaireBeige: #ffe8ce;
  --couleurSecondaireBlanc: #fffcf8;
  --couleurTertiaire: #1f1f1f;
}
/* Marges */
:root {
  /* jsp si il y a un meilleur moyen de faire ça */
  --marge8px: 8px;
  --marge16px: 16px;
  --marge24px: 24px;
  --marge32px: 32px;
  --marge40px: 40px;
  --marge48px: 48px;
  --marge56px: 56px;
}
