/*--------------------------------------------------------------------
Couleurs
--------------------------------------------------------------------*/
/* Couleurs globales */
  $couleurPrincipale: #e63c23;
  $couleurSecondaireBeige: #ffe8ce;
  $couleurSecondaireBlanc: #fffcf8;
  $couleurTertiaire: #1f1f1f;