/*--------------------------------------------------------------------
# Marges
--------------------------------------------------------------------*/
  $marge8px: 8px;
  $marge16px: 16px;
  $marge24px: 24px;
  $marge32px: 32px;
  $marge40px: 40px;
  $marge48px: 48px;
  $marge56px: 56px;
  $marge64px: 64px;
  $marge72px: 72px;
  $marge80px: 80px;
  $marge88px: 88px;
  $marge96px: 96px;
